{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Muhammad Audrian | About me</title>

	</head>
	
	<body>
		
		{% block content %}
		<header>
		<div class="container p-5 text-lg-center">
			<img src="{% static 'selfpic.jpg' %}" id="selfpicture">
			<h2>My name is <span class="font-weight-bold">Muhammad Audrian Ananda Priambodo.</span></h2>
			<h4>I am an Information Systems student based in Depok, Indonesia. I enjoy coding, and I also like graphic designing and videogaming.</h4>
		</div>
		</header>

		<div class="container p-5">
			<div class="row">
				<div class="col">
					<h3><span class="font-weight-bold">Specialities</span></h3>
					<p>Proficiency in <strong>Java, Python, HTML and CSS</strong></p>
					<p>An eye for aesthetics and common sense in designing</p>
					<p>Strong English skills, both personal or written</p>
					<p>Creativity, adaptability, reliability and punctuality</p>
				</div>
				<div class="col">
					<h3><span class="font-weight-bold">Education</span></h3>
					<p><strong>2017-present:</strong> Faculty of Computer Science, University of Indonesia, Information Systems major</p>
					<p><strong>2014-2017:</strong> Dwiwarna Senior High School, Bogor, Indonesia</p>

				</div>
				<div class="col">
					<h3><span class="font-weight-bold">Work experience</span></h3>
					<p><strong>Person in Charge</strong><br>Creative Division, Educare 2019</p>
					<p><strong>Staff Member</strong><br>Creative Division, Wisuda Genap 2018</p>
				</div>
			</div>
		</div>

		<div class="container p-5 text-lg-center">
			<h2>To see my other projects, click <a class="font-weight-bold" href="projects">here.</a></h2>
			<h2>Any great ideas? Contact me <a class="font-weight-bold" href="contact">here.</a></h2>
		</div>

		{% endblock %}
	</body>

</html>