{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Muhammad Audrian | Contact me</title>
	</head>
	
	<body>
		{% block content %}
		<div class="container p-5 text-lg-center">
			<h2><strong>Feel free to drop me a line.</strong></h2>
		</div>

		<div class="container p-5">
			<div class="row">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/google.svg"></div>
				</div>
				<div class="col">
					rianfiftyseven@gmail.com
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/whatsapp.svg"></div>
				</div>
				<div class="col">
					+62-857-8180-8650
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/line.svg"></div>
				</div>
				<div class="col">
					@audrian_ananda
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<div class="float-md-right"><img src="https://icongr.am/jam/gitlab.svg"></div>
				</div>
				<div class="col">
					<a href="https://gitlab.com/rian_audrian">Gitlab Repo</a>
				</div>
			</div>
		</div>

		{% endblock %}
	</body>

</html>