{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Muhammad Audrian | Personal Schedule</title>
	</head>
	<body>
		{% block content %}
		<header>
			<div class = "container p-5 text-lg-center">
				<h2><strong>Personal schedule tool</strong></h2>
			</div>
		</header>

		<div class = "container p-5">
			<h3>Your schedule</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Location</th>
						<th>Date</th>
						<th>Time</th>
						<th>Category</th>
					</thead>
					<tbody>
						{% for e in events %}
						<tr>
							<td>{{e.name}}</td>
							<td>{{e.location}}</td>
							<td>{{e.date|date:"l, j F Y"}}</td>
							<td>{{e.time|date:"H:i"}}</td>
							<td>{{e.category}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<a href="{% url 'delete_schedule' %}" class="btn btn-danger">Delete all events</a>
		</div>

		<div class = "container p-5">
			<h3>Add new event</h3>
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" class="btn btn-primary">Add event</button>
			</form>
		</div>
		{% endblock %}
	</body>
</html>