{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		
	</head>
	
	<body>
		{% block content %}
		<div class="container p-5 text-lg-center">
			<h2><strong>Below you can view some of my work.</strong></h2>
			<h4>Please keep in mind that this list is not exhaustive.</h4>
		</div>

		<div class="container p-5">
			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'cryptocurrency.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-8">
					<h3>Cryptocurrency Proof of Concept</h3>
					For my Python course I had to implement a cryptocurrency banking system, complete with user accounts, transfers, deposits and so on. It even has account tiers!
				</div>
			</div>
			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'matchgame.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-8">
					<h3>Match Game</h3>
					A simple match two game, written in Java 8 + Swing. Match the animals with the least amount of moves!
				</div>
			</div>
			<div class="row my-3">
				<div class="col-md-4">
					<div class="float-md-right"><img src="{% static 'collaborate.jpg' %}" id="projectpic"></div>
				</div>
				<div class="col-md-8">
					<h3>Let's collaborate!</h3>
					Have you got any ideas? Drop me a line <a class="font-weight-bold" href="{% url 'contact' %}">here</a> and let's build amazing things!
				</div>
			</div>
		</div>

		<div class="container p-5 text-lg-center">
			<h3>For more projects, visit my Gitlab repo <a class="font-weight-bold" href="https://gitlab.com/rian_audrian/">here.</a></h3>
		</div>

		{% endblock %}
	</body>

</html>